/* 
https://palettes.shecodes.io/palettes/388

.first-color { 
	background: #fcf4d9; 
}
	
.second-color { 
	background: #8ed2c9; 
}

.third-color { 
	background: #00aaa0; 
}

.fourth-color { 
	background: #d55b3e; 
} */