/* 
https://palettes.shecodes.io/palettes/388

.first-color { 
	background: #fcf4d9; 
}
	
.second-color { 
	background: #8ed2c9; 
}

.third-color { 
	background: #00aaa0; 
}

.fourth-color { 
	background: #d55b3e; 
} */

* {
  font-family: Raleway, Arial, sans-serif;
}

h1 {
  font-family: Lobster, Arial, sans-serif;
  color: #00aaa0;
  font-size: 3rem;
}

h2 {
  font-family: Lobster, Arial, sans-serif;
  color: #8ed2c9;
  font-size: 2rem;
}

.card-title {
  font-family: Lobster, Arial, sans-serif;
  color: #00aaa0;
  font-size: 2rem;
}

h6 {
  font-size: 1.5rem;
  font-weight: 800;
}

img.logo {
  height: 3rem;
  margin-left: 1rem;
  width: auto;
}

h1.logo {
  font-size: 1rem;
  font-family: Lobster, Arial, sans-serif;
  margin: 0;
}

div.logo {
  height: 30px;
  margin: 20px 0;
  margin-left: 1rem;
  margin-bottom: 2.5rem;
}

li {
  list-style: none;
}

.navbar {
  height: 80px;
  width: 100%;
  color: #fbfbfc;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 0.5rem;
}

.navmenu {
  align-content: space-between;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav > ul {
  padding: 0;
}

nav a {
  margin: 15px;
  color: #00aaa0;
  font-weight: 600;
  text-decoration: none;
}

a:hover {
  color: #d55b3e;
}

.burger {
  margin: auto;
  margin-left: 10px;
  display: none;
  height: 30px;
  width: 40px;
  padding: 10px 5px;
}

@media only screen and (max-width: 745px) {
}

@media only screen and (max-width: 480px) {
  nav li a {
    display: none;
  }

  img.burger {
    display: block;
    float: right;
    margin-right: 1rem;
    height: 50px;
  }

  h1.logo {
    display: none;
  }

  nav button {
    display: none;
  }
}

main {
  margin: 0.5rem;
}

.hero {
  background-image: url("header_map.jpeg");
  background-size: cover;
  width: 100%;
  height: 20rem;
  margin: 3rem 0 2rem;
}

.hero.london {
  background-image: url("Londonimages/london-background.jpeg");
}

.hero.paris {
  background-image: url("parisimages/paris-background.jpeg");
}

.hero.madrid {
  background-image: url("madridimages/madrid-background-3.jpg");
}

.hero.berlin {
  background-image: url("berlinimages/berlin-background.jpg");
}

div.heroContent {
  padding: 2rem;
  width: 50%;
}

h2.heroContent {
  color: #d55b3e;
}

@media only screen and (max-width: 745px) {
  div.heroContent {
    width: 80%;
  }
}

@media only screen and (max-width: 480px) {
  h2.heroContent {
    display: none;
  }
}

.btn {
  background-color: #d55b3e;
  color: #fcf4d9;
  border: none;
}

.btn:hover {
  background-color: #8ed2c9;
}

:not(.btn-check) + .btn:active {
  background-color: #8ed2c9;
}

.cardSection {
  display: flex;
  justify-content: space-around;
  flex-flow: row wrap;
  margin: 2rem 0 2rem;
}

#CitySelection {
  margin: 2rem;
}

.card {
  margin: 1rem;
}

.surpriseMe {
  margin: 2rem;
}

.Information {
  margin: 2rem;
}

.infoForm {
  width: 60%;
}

.whatcity {
  margin-top: 1.5rem;
}

.townIntro {
  margin: 2rem;
}

figcaption {
  text-align: center;
  font-style: italic;
}

.townImage {
  display: block;
  margin: 0 auto;
  width: 50%;
}

.attractionLink {
  display: block;
  text-decoration: none;
  color: #d55b3e;
  font-weight: 600;
}

.attractions {
  margin: 2rem;
}

.attractionLink:hover {
  color: #8ed2c9;
}

.weather {
  width: 60%;
  margin: 0 auto;
  display: block;
}

.flights {
  display: block;
  margin: 0 auto;
  width: 60%;
}

.flightsHeading {
  margin: 2rem;
}

.goback {
  display: block;
  margin: 2rem auto;
}

label {
  font-weight: 800;
  padding: 0.5rem 0 0.5rem;
}

footer {
  background-color: #8ed2c9;
  padding: 2rem 2rem 4rem;
  color: #fcf4d9;
}
